version: "3.3"

services:
  pgslave3:
    build:
      context: ./src
      dockerfile: Postgres-latest.Dockerfile
    environment:
      PARTNER_NODES: "pgmaster,pgslave1,pgslave3"
      REPLICATION_PRIMARY_HOST: pgmaster
      NODE_ID: 4
      NODE_NAME: node4
      CLUSTER_NODE_NETWORK_NAME: pgslave3 # (default: hostname of the node)
      NODE_PRIORITY: 200  # (default: 100)
      CLEAN_OVER_REWIND: 1
    ports:
      - 5432:5432
    volumes:
      - pgslave3:/var/lib/postgresql/data
    extra_hosts:
      - "pgmaster:${PGMASTER_ADDR}"

  pgslave4:
    build:
      context: ./src
      dockerfile: Postgres-latest.Dockerfile
    environment:
      REPLICATION_PRIMARY_HOST: pgslave3
      NODE_ID: 5
      NODE_NAME: node5
      CLUSTER_NODE_NETWORK_NAME: pgslave4 # (default: hostname of the node)
      #USE_REPLICATION_SLOTS: 0
    ports:
      - 5433:5432
    volumes:
      - pgslave4:/var/lib/postgresql/data

volumes:
  pgslave3:
  pgslave4:
