version: "3.3"

networks:
  cluster:
    driver: bridge

services:
  rapidpro:
    image: localhost:5000/unicef/rapidpro
    restart: always
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "4040:4040"
      - "8000:8000"
    links:
#      - pgpool
      - redis
      - varnish
    environment:
      - DATABASE_URL=${DATABASE_URL:-postgis://monkey_user:monkey_pass@pgpool:5430/monkey_db}
      - REDIS_HOST=redis
      - BROKER_URL=redis://redis:6379/15
      - ALLOWED_HOSTS=*
    networks:
      cluster:
        aliases:
          - rapidpro
    extra_hosts:
      - "pgmaster:${PGMASTER_ADDR}"
      - "pgslave1:${PGSLAVE1_ADDR}"
      - "pgslave2:${PGSLAVE2_ADDR}"
      - "pgslave3:${PGSLAVE3_ADDR}"
      - "pgslave4:${PGSLAVE4_ADDR}"
      - "pgpool:${PGPOOL_ADDR}"

###################################################################################################
# start cache definitions
###################################################################################################
  redis:
    image: localhost:5000/unicef:redis
    build:
      dockerfile: redis.Dockerfile
      context: .
    restart: always
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          memory: 50M
    networks:
      cluster:
        aliases:
          - redis
    extra_hosts:
      - "pgmaster:${PGMASTER_ADDR}"
      - "pgslave1:${PGSLAVE1_ADDR}"
      - "pgslave2:${PGSLAVE2_ADDR}"
      - "pgslave3:${PGSLAVE3_ADDR}"
      - "pgslave4:${PGSLAVE4_ADDR}"

###################################################################################################
# end cache definitions
###################################################################################################

#  pgadmin:
#    image: localhost:5000/unicef:pgadmin4
#    build:
#      dockerfile: pgadmin.Dockerfile
#      context: .
#    ports:
#      - "8080:80"
#    links:
#      - pgpool
#    environment:
#      - PGADMIN_DEFAULT_EMAIL=eltonplima@pgadmin.com
#      - PGADMIN_DEFAULT_PASSWORD=SuperSecret
#    networks:
#      cluster:
#        aliases:
#          - pgadmin
#    extra_hosts:
#      - "pgmaster:${PGMASTER_ADDR}"
#      - "pgslave1:${PGSLAVE1_ADDR}"
#      - "pgslave2:${PGSLAVE2_ADDR}"
#      - "pgslave3:${PGSLAVE3_ADDR}"
#      - "pgslave4:${PGSLAVE4_ADDR}"
#
###################################################################################################
# start http stack definitions
###################################################################################################
  varnish:
    image: localhost:5000/unicef:varnish
    build:
      dockerfile: varnish.Dockerfile
      context: .
    restart: always
    environment:
      - VARNISH_BACKEND_ADDRESS=rear
      - VARNISH_BACKEND_PORT=80
    links:
      - rear
    ports:
      - "80:80"
    networks:
      cluster:
        aliases:
          - varnish
    extra_hosts:
      - "pgmaster:${PGMASTER_ADDR}"
      - "pgslave1:${PGSLAVE1_ADDR}"
      - "pgslave2:${PGSLAVE2_ADDR}"
      - "pgslave3:${PGSLAVE3_ADDR}"
      - "pgslave4:${PGSLAVE4_ADDR}"

  rear:
    image: localhost:5000/unicef:nginx-rear
    restart: always
    build:
      context: .
      dockerfile: rear.Dockerfile
    networks:
      cluster:
        aliases:
          - rear
    extra_hosts:
      - "pgmaster:${PGMASTER_ADDR}"
      - "pgslave1:${PGSLAVE1_ADDR}"
      - "pgslave2:${PGSLAVE2_ADDR}"
      - "pgslave3:${PGSLAVE3_ADDR}"
      - "pgslave4:${PGSLAVE4_ADDR}"

  vanguard:
    image: localhost:5000/unicef:nginx-vanguard
    restart: always
    links:
      - varnish
    build:
      context: .
      dockerfile: vanguard.Dockerfile
    networks:
      cluster:
        aliases:
          - vanguard
    extra_hosts:
      - "pgmaster:${PGMASTER_ADDR}"
      - "pgslave1:${PGSLAVE1_ADDR}"
      - "pgslave2:${PGSLAVE2_ADDR}"
      - "pgslave3:${PGSLAVE3_ADDR}"
      - "pgslave4:${PGSLAVE4_ADDR}"
###################################################################################################
# end http stack definitions
###################################################################################################

volumes:
  pgmaster:
  pgslave1:
  pgslave2:
  pgslave3:
  pgslave4:
  backup:
