version: "3.3"

services:
  rapidpro:
    image: ilhasoft/rapidpro
    restart: always
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "4040:4040"
      - "8000:8000"
    links:
      - database
      - redis
      - varnish
      - mage
    environment:
      - DATABASE_URL=postgis://temba:temba@database/temba
      - REDIS_HOST=redis
      - BROKER_URL=redis://redis:6379/15
      - ALLOWED_HOSTS=*
    volumes:
      - /var/lib/rapidpro/media:/home/app/media
  database:
    image: ilhasoft/rapidpro:database
    restart: always
    build:
      context: .
      dockerfile: database.Dockerfile
    ports:
      - "5432:5432"
    volumes:
      - /var/lib/rapidpro/data:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8080:80"
    links:
      - database
    environment:
      - PGADMIN_DEFAULT_EMAIL=eltonplima@pgadmin.com
      - PGADMIN_DEFAULT_PASSWORD=SuperSecret
  varnish:
    image: thiagofigueiro/varnish-alpine-docker
    restart: always
    environment:
      - VARNISH_BACKEND_ADDRESS=rear
      - VARNISH_BACKEND_PORT=80
    links:
      - rear
    ports:
      - "80:80"
  rear:
    restart: always
    build:
      context: .
      dockerfile: rear.Dockerfile
  mage:
    image: eltonplima/mage:0.1.87
    restart: always
    environment:
      - PRODUCTION=1
      - DATABASE_URL=${DATABASE_URL:-postgis://temba:temba@database/temba}
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_DATABASE=${REDIS_DATABASE:-3}
      - TEMBA_HOST=${HOSTNAME:-rapidpro}
      - TEMBA_AUTH_TOKEN=${TEMBA_AUTH_TOKEN}
      - TWITTER_API_KEY=${TWITTER_API_KEY}
      - TWITTER_API_SECRET=${TWITTER_API_SECRET}
      - SEGMENTIO_WRITE_KEY=${SEGMENTIO_WRITE_KEY}
      - SENTRY_DSN=${SENTRY_DSN}
      - LIBRATO_EMAIL=${LIBRATO_EMAIL}
      - LIBRATO_API_TOKEN=${LIBRATO_API_TOKEN}
