version: "3.3"

services:
  rapidpro:
    image: ilhasoft/rapidpro
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "4040:4040"
      - "8000:8000"
    environment:
      DATABASE_URL="postgis://temba:temba@database/temba"
  database:
    image: ilhasoft/rapidpro:database
    build:
      context: .
      dockerfile: Dockerfile.database
    ports:
      - "5432:5432"
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8080:80"
    links:
      - database
    environment:
      - PGADMIN_DEFAULT_EMAIL=eltonplima@pgadmin.com
      - PGADMIN_DEFAULT_PASSWORD=SuperSecret
