version: "3.3"

services:
  pgpool:
    build:
      context: ./src
      dockerfile: Pgpool-latest.Dockerfile
    environment:
      PCP_USER: pcp_user
      PCP_PASSWORD: pcp_pass
      WAIT_BACKEND_TIMEOUT: 60

      CHECK_USER: monkey_user
      CHECK_PASSWORD: monkey_pass
      CHECK_PGCONNECT_TIMEOUT: 3 #timout for checking if primary node is healthy
      SSH_ENABLE: 1
      DB_USERS: monkey_user:monkey_pass # in format user:password[,user:password[...]]
      BACKENDS: "0:158.113.177.28::1::ALLOW_TO_FAILOVER,1:158.113.177.13::::,3:158.113.177.28:5433:::,2:158.113.177.13:5433:::" #,4:pgslaveDOES_NOT_EXIST::::
                # in format num:host:port:weight:data_directory:flag[,...]
                # defaults:
                #   port: 5432
                #   weight: 1
                #   data_directory: /var/lib/postgresql/data
                #   flag: ALLOW_TO_FAILOVER
      REQUIRE_MIN_BACKENDS: 2 # minimal number of backends to start pgpool (some might be unreachable)
      CONFIGS: "num_init_children:250,max_pool:4"
                # in format variable1:value1[,variable2:value2[,...]]
                # used for pgpool.conf file
    ports:
      - 5430:5432
      - 9898:9898 # PCP
