version: "3.3"

services:
  pgmaster:
    build:
      context: ./src
      dockerfile: Postgres-latest.Dockerfile
    environment:
      PARTNER_NODES: "pgmaster,pgslave1,pgslave3"
      NODE_ID: 1 # Integer number of node
      NODE_NAME: node1 # Node name
      CLUSTER_NODE_NETWORK_NAME: pgmaster # (default: hostname of the node)
      NODE_PRIORITY: 100  # (default: 100)
      SSH_ENABLE: 1
      #database we want to use for application
      POSTGRES_PASSWORD: monkey_pass
      POSTGRES_USER: monkey_user
      POSTGRES_DB: monkey_db
      CLEAN_OVER_REWIND: 0
      CONFIGS: "listen_addresses:'*',max_replication_slots:5"
                            # in format variable1:value1[,variable2:value2[,...]]
                            # used for pgpool.conf file
      #defaults:
      CLUSTER_NAME: pg_cluster # default is pg_cluster
      REPLICATION_DB: replication_db # default is replication_db
      REPLICATION_USER: replication_user # default is replication_user
      REPLICATION_PASSWORD: replication_pass # default is replication_pass
    ports:
      - 5432:5432
    links:
      - pgslave1
      - pgslave2
      - pgslave3
      - pgslave4
      - backup
    volumes:
        - pgmaster:/var/lib/postgresql/data

#<<< Branch 1
  pgslave1:
    build:
      context: ./src
      dockerfile: Postgres-latest.Dockerfile
    environment:
      PARTNER_NODES: "pgmaster,pgslave1,pgslave3"
      REPLICATION_PRIMARY_HOST: pgmaster
      NODE_ID: 2
      NODE_NAME: node2
      CLUSTER_NODE_NETWORK_NAME: pgslave1 # (default: hostname of the node)
      CLEAN_OVER_REWIND: 1
      CONFIGS: "max_replication_slots:10" #some overrides
    ports:
      - 5433:5432
    volumes:
      - pgslave1:/var/lib/postgresql/data

  # Add more slaves if required
  pgslave2:
    build:
      context: ./src
      dockerfile: Postgres-latest.Dockerfile
    environment:
      REPLICATION_PRIMARY_HOST: pgslave1 # I want to have cascade Streeming replication
      NODE_ID: 3
      NODE_NAME: node3
      CLUSTER_NODE_NETWORK_NAME: pgslave2 # (default: hostname of the node)
      #USE_REPLICATION_SLOTS: 0
    ports:
      - 5434:5432
    volumes:
      - pgslave2:/var/lib/postgresql/data

#>>> Branch 1

  backup:
    build:
      context: ./src
      dockerfile: Barman-latest.Dockerfile
    environment:
      REPLICATION_USER: replication_user # default is replication_user
      REPLICATION_PASSWORD: replication_pass # default is replication_pass
      REPLICATION_HOST: pgmaster
      POSTGRES_PASSWORD: monkey_pass
      POSTGRES_USER: monkey_user
      POSTGRES_DB: monkey_db
      SSH_ENABLE: 1
      BACKUP_SCHEDULE: "*/30 */5 * * *"
    volumes:
      - backup:/var/backups

volumes:
  pgmaster:
  pgslave1:
  pgslave2:
  backup:
